@charset "utf-8";
@import url(../../css/reset.css);

$color: #ED1C24;
$color2: #119F37;
$bottom: 90px;

body {}

.container {
    position: relative;
}
//selection End

.container {
    width: 1250px;
    margin: 0 auto;

    .tab {
        position: relative;
        width: 100%;
        height: 65px;
        margin-bottom: $bottom;

        li {
            position: relative;
            float: left;
            width: calc(100% / 8);
            text-align: center;
            line-height: 65px;
            background-color: #fff;
            box-sizing: border-box;
            margin-left: -1px;

            a {
                font-size: 18px;
                display: block;
                border: 1px solid #C9C9C9;
            }

            &.on {
                background-color: $color;
                font-weight: 700;
                border: none;

                a {
                    color: #fff;

                    &::after {
                        content: "";
                        position: absolute;
                        display: block;
                        left: 50%;
                        transform: translateX(-50%);
                        bottom: -13px;
                        width: 0;
                        height: 0;
                        border-left: 8px solid transparent;
                        border-right: 8px solid transparent;
                        border-top: 16px solid $color;
                    }
                }
            }
        }
    }

    .content {
        position: relative;
        width: 100%;
        border-top: 1px solid #C4C4C4;
        margin-bottom: 70px;
        &::after{
            content: "";
            display: block;
            clear: both;
        }

        > div {
            position: relative;
            float: left;
            width: 25%;
            border-right: 1px solid #C4C4C4;
            border-bottom: 1px solid #C4C4C4;
            box-sizing: border-box;
            
            &:nth-child(1),
            &:nth-child(5),
            &:nth-child(9){
                border-left: 1px solid #C4C4C4;
            }
            
            &::after{
                content: "";
                display: block;
                padding-top: 100%;
            }

            a {
                position: absolute;
                overflow: hidden;
                   
            .product{
                position: relative;
                width: 100%;
                height: 100%;
                box-sizing: border-box;

                .con_img {
                    width: 100%;
                    height: 100%;
                    padding: 28px 70px;

                    img {
                        width: 170px;
                        height: 170px;
                    }
                }

                .con_txt {
                    text-align: center;
                    width: 100%;

                    h3 {
                        font-weight: bold;
                        font-size: 20px;
                        margin-bottom: 20px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    p {
                        font-size: 14px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
                }
        }
    }
    
    .more{
        width: 100%;
        margin-bottom: 70px;
        text-align: center;
        
        &::after{
            content: "";
            display: block;
            clear: both;
        }
        
        a{
            padding: 10px 50px;
            border: 1px solid #707070;
            border-radius: 35px;
            background-color: #fff;
            vertical-align: middle;
        }
    }
}
